.skin-light .z-depth-1, .skin-light .chip:active {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.07),0 2px 10px 0 rgba(0,0,0,0.07) !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.07),0 2px 10px 0 rgba(0,0,0,0.07) !important;
}
.skin-light .rounded {
    border-radius: .375rem !important;
}
.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}