<div class="footer mb-2">
    <center><div class="text-info">Takeo Perfumaria - Avenida Doutor Eduardo Cotching, 1970. Vila Formosa - 03356-001 - São Paulo/SP - CNPJ: 52.646.700/0001-51</div></center>
</div>