/* CSS Document */


.card{text-align: center; border: none; border-radius: 5px;-webkit-box-shadow: 12px 14px 22px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 14px 22px 2px rgba(0,0,0,0.75);
    box-shadow: 12px 14px 22px 2px rgba(0,0,0,0.75);
    margin-bottom: 100px;
    }

/*Product Grid*/
.product_grid{
	margin-top: 50px;
}

/*cart design*/
.dncxKl {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    margin-bottom: 10px;
}
.jOFDKQ {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    overflow: hidden;
}
.hDtVJU {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.bJhDda {
    box-sizing: border-box;
    min-width: 0px;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.hzdvQm {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 10px;
}
.ecebTG {
    color: rgb(13, 17, 54);
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
}
.zYpot {
    margin-bottom: 10px;
    color: rgb(153, 153, 153);
    font-size: 20px;
    font-weight: normal;
}
.byhaCB {
    height: 37px;
    border-radius: 6px;
    transition: all 0.35s ease-in-out 0s;
    cursor: pointer;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
    padding: 0px;
    border: none;
    overflow: hidden;
}
.oExpm {
    box-sizing: border-box;
    min-width: 0px;
    margin: 0px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: 16px;
}
.bQxKjU {
    padding-left: 16px;
    padding-right: 16px;
    height: 36px;
    background-color: rgb(230, 230, 230);
    display: flex;
    transition: all 0.35s ease-in-out 0s;
    -webkit-box-align: center;
    align-items: center;
}
.byhaCB:hover {
    background-color: rgb(1, 147, 118);
    border-color: rgb(1, 147, 118);
    color: rgb(255, 255, 255);
}
.byhaCB:hover .add-item-to-cart__Icon-sc-19xdvkq-0 {
    background-color: rgb(0, 158, 127);
    color: rgb(255, 255, 255);
}
.byhaCB:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
/*exchange btn*/
.iMeRMz {
    display: flex;
    background-color: rgb(0, 158, 127);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
    height: 36px;
    border-radius: 6px;
}
.iMeRMz:focus {
    outline: none;
}
.hQDaWZ {
    border: none;
    background-color: transparent;
    color: white;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
    cursor: pointer;
}
.hQDaWZ:hover, .hQDaWZ:focus {
    outline: none;
}
.dncxKl:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
    transform: translateY(-5px);
}
.fWCkFI {
    pointer-events: none;
    background-color: rgb(0, 158, 127);
    color: rgb(255, 255, 255);
    border: none;
}
#card-counter {
    width: 202px;
    position: absolute;
    top: 301px;
    z-index: -1;
    height: 36px;
}
::placeholder {
  color: rgb(255, 255, 255);
}

/*cart design end*/


/*div on off*/
 .clear{
    clear:both; 
    display:block; 
    height:0; 
    width:auto;
}

.faq-row-container{
    font-family:Arial, Helvetica, sans-serif; 
}

.faq-row {
   /* background-color: #fff;
    border: #ccc 1px solid;
    margin-bottom: 12px;
    position:relative;
    overflow:hidden;*/
}

.faq-row-handle {
    /*border:#ccc 1px solid; */
    border-bottom:none;
}

.faq-row-handle > a {
    cursor: pointer;
    display: block;
    color: #191919;
    font-weight: normal;
    font-size: 13px;
    padding: 7px 30px 7px 10px;
    line-height: 20px;
    text-decoration: none;
    outline: 0;
    float:left;
     border-right: #ccc 1px solid;
}

.faq-row-handle a.open{
   color:green;
}

.faq-row-content {
    color: #666;
    font-weight: normal;
    line-height: 150%;
    font-size: 13px;
    display: none;
    position:absolute;
    top:600px;
    left:0px;
}

.faq-row-content.open{
    display:block;
}

.faq-row-content p {
    padding: 0 14px 10px 14px;
}