/*common*/
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.lefttab{background-color: #fff;padding-left: 50px;
    padding-right: 0px; position: fixed;
}

/**/


/*arrow start*/
.js-custom-sleeve-option {
    width: auto;
    min-width: 3.8rem;
    height: 3rem;
    display: inline-block;
    background: #f7f7f7;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.js-arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #233354;
    position: relative;
    left: -17px;
}

.js-arrow-up {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #233354;
    position: relative;
    left: -16px;
    bottom: -2px;
}

.toggleButton{
	margin-left: auto;
    height: auto;
    transition: transform 0.3s ease 0s;
    transform: rotate(0deg);
}
.toggleOpen{
	transform: rotate(90deg);
}
.eMzhjY {
    padding: 0px 15px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 6px;
    appearance: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    height: 38px;
    text-decoration: none;
    font-family: inherit;
    border: 0px;
    color: rgb(13, 17, 54);
    background-color: transparent;
    margin-left: auto;}
.eMzhjY:focus {
    outline: none;
}

/*arrow end*/

/*category List Start*/
.lefttab ul {
    list-style-type: none;
}
.release{display: inline-block;
position: relative;}
.hide{visibility: hidden}
summary::-webkit-details-marker {
    display: none;
}
li.category {
    margin-bottom: 15px;
}

ul.my-nav {
    margin-top: 50px;
}

summary:nth-child(1) {
    margin-left: -25px;
}
.subcategory>li{
	    font-size: 13px;
    font-weight: 500;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0px;
    color: rgb(119, 121, 140);
    cursor: pointer;
    transition: all 0.15s ease-in-out 0s;
    padding: 10px 10px;
    margin-left: -45px;
    border-radius: 6px;
    outline: 0px;
}
summary{
	font-size: 15px;
    font-weight: 500;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 12px;
    color: rgb(13, 17, 54);;
    cursor: pointer;
    transition: all 0.15s ease-in-out 0s;
    padding: 5px 0px;
    outline: 0px;
}
summary:hover,summary>button:hover,.subcategory>li:hover{
	    color: rgb(0, 158, 127);
}


.categoryname{
	margin-left: 10px;
}
/*left side end*/


/*right content start*/
.tabContent{background-color: #F7F7F7;margin-top: 20px;}

.card {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    font-family: inherit;
    border-radius: 15px;
    cursor: pointer;
}

.jTTigY {
    /*height: 240px;*/
    padding: 5px;
    position: relative;
    text-align: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.product-price {
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: rgb(0, 158, 127);
}
 .cart-button {
    border: 2px solid rgb(247, 247, 247);
    border-radius: 18px;
    height: 36px;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 13px;
    font-weight: 700;
}
.dDahSG {
    padding: 0px 15px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    appearance: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    height: 38px;
    text-decoration: none;
    font-family: inherit;
    color: rgb(0, 158, 127);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(241, 241, 241);
    border-radius: 100px;
}
.cart-button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 158, 127);
    border-color: rgb(0, 158, 127);
}
.dDahSG:focus {
    outline: none;
}
span.wdrTM {
    margin-left: 5px;
}
.iafyqY {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    font-family: inherit;
    border-radius: 6px;
    cursor: pointer;
}
.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 100%;
    max-width: 80%;
}
.editRow{
	margin-top: 20px;
    margin-bottom: 20px;
}


/*div on off*/
 .js--company-item--hidden {
  display: none;
}