@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Antes Que Vença</h1>
    <h3>Novidades em breve!</h3>
    <button class="btn btn-success" onclick="Comprar();" id="btnComprar">Comprar</button>
</div>

<script>
    function Comprar()
    {
        window.location.href = "http://loja.antesquevenca.com.br";
    }
</script>